<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout en Linea</title>
</head>
<body>
    <div class="inline-layout" style="background-color: aqua;">Bloque 1</div>
    <div class="inline-layout" style="background-color: blue;">Bloque 2</div>
    <div class="inline-layout" style="background-color: brown;">Bloque 3</div>
    <div class="inline-layout" style="background-color: crimson;">Bloque 4</div>
    <div class="inline-layout" style="background-color: yellow;">Bloque 5</div>
</body>
</html>